* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}

::selection{
 background: #FE5D37;
 color: #fff;   
}
html,
head {
    height: 100%;
    width: 100%;
}
main{
    padding: 0 30px;
}

header {
    width: 100%;
}

#first-nav {
    height: 100%;
    height: 39px;
    background-color: #FE5D37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: #fff;
    font-size: 16px;
}


#first-nav span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

#first-nav span:nth-child(2) a {
    color: #fff;
}

.second-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    position: relative;
    transition: .3s;
}

.second-nav #bg-designe {
    position: absolute;
    /* background-image: url(/images/bg-header-top.png); */
    width: 100%;
    height: 30px;
    bottom: -20px;
    left: 0;
    background-position: center;
    background-repeat: repeat-x;
}

.second-nav #logo {
    width: 100px;
    ;
}
.second-nav #logo img {
    width: 100%;
    height: 100%;
}

.second-nav .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    transition: .2s;
}


.second-nav .navigation #sub_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: relative;
}

.second-nav .navigation #sub_nav #background_color {
    list-style: none;
    background: #FE5D37;
    color: #fff;
    list-style: none;
    cursor: pointer;
    padding: 8px 12px;
   
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #FE5D37;
    transition: .2s;

}
.second-nav .navigation #sub_nav .background_colors_box{
    position: absolute;
    height: 200px;
    width: 153px;
    background: transparent;
    top: 36px;
    z-index: 9;
    right: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 13px;
    display: none;
}
.second-nav .navigation #sub_nav .background_colors_box div{
    width: 50px;
    height: 50px;
    background: palegoldenrod;
    border-radius: 50%;
    cursor: pointer;
    border: 5px solid #000;
}
.second-nav .navigation #sub_nav .background_colors_box div:nth-child(1){
    background: #42abcb;
}
.second-nav .navigation #sub_nav .background_colors_box div:nth-child(2){
    background: #ffab4b;
}
.second-nav .navigation #sub_nav .background_colors_box div:nth-child(2){
    background: #63b256;
}
.second-nav .navigation #sub_nav #background_color:hover {
    background: #fff;
    color: #000;

}

.second-nav #menue {
    font-size: 20px;
    display: none;
    cursor: pointer;
}

.second-nav .navigation a {
    text-decoration: none;
    color: #623762;
    position: relative;
    transition: .3s;
}

.second-nav .navigation #Show_images_btn{
    background: #FE5D37;
    color: #fff;
    list-style: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid  #FE5D37;
    transition: .2s;
}
.second-nav .navigation #remove_images_btn{
    background: #FE5D37;
    color: #fff;
    list-style: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid #FE5D37;
    transition: .2s;
}
.second-nav .navigation #Show_images_btn:hover{
    background: #fff;
    color: #000;
}
.second-nav .navigation #remove_images_btn:hover{
    background: #fff;
    color: #000;
}

.second-nav .navigation a:hover {
  color: #FE5D37;

}
.second-nav #cross_icon {
    position: absolute;
    top: 17px;
    right: 17px;
    font-size: 24px;
    display: none;
    cursor: pointer;
}

.second-nav .navigation a i {
    color: #FE5D37;
    padding-left: 5px;
}
#header_banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
#header_banner span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fe5c37db;}

#header_banner img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
#header_banner h1 {
    color: #fff;
    font-size: 55px;
    z-index: 2;
}

@media (max-width:482px) {
    #header_banner h1 {
      
        font-size: 40px;
    }
     
   }
@media (max-width:700px) {
 #header_banner{
    height: 262px;
 }   
}

@media (max-width:461px) {
    #header_banner{
       height: 200px;
    }   
   }
   
@media (max-width:349px) {
    #header_banner{
       height: 150px;
    }   
   }
/* All Responsive code of header */

@media (max-width:597px) {
    #first-nav {

        flex-direction: column;
        height: 50px;
        padding: 5px;

    }

    main header #header_banner {
        background-position: -600px 0;
    }

    #first-nav span {
        width: 100%;
        display: flex;
        align-items: start;
    }
}



@media (max-width:812px) {
    .second-nav .navigation {
        position: fixed;
        display: flex;
        gap: 70px;
        top: 00px;
        right: 0;
        height: 84vh;
        width: 100vw;
        flex-direction: column;
        background: #fff;
        z-index: 999;
        padding: 0 27px;

    }

    .second-nav .navigation a {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
    }

    .second-nav .nav_hidden {
        display: none;
    }

    .second-nav #menue {
        display: block;
    }
}


/* Container-1 */

#container-1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin:100px 0 ;
}

#container-1 h1{
    text-align: center;
}
#container-1 #innder{
    width: 884px;    
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
#container-1 #innder h1{
    color: #FE5D37;
    line-height: 90px;
    font-size: 30px;
}
#container-1 #innder p{
    text-align: center;
    line-height: 30px;
    font-size: 18px;
}
#container-1 #innder p span {
color: #2A5675;
font-weight: bold;
}



#container-2 h1{
    color: #FE5D37;
    line-height: 100px;
    text-align: center;
    font-size: 30px;
}
#container-2 #inner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0 50px 0;
    flex-wrap: wrap;
}
#container-2 #inner img{
    
    object-fit: contain;
    object-position: center;
}
@media (max-width:940px) {
    #container-2 #inner img{
        width: 500px;
    }
}

@media (max-width:531px) {
    #container-2 #inner img{
        width: 300px;
    }
}
@media (max-width:331px) {
    #container-2 #inner img{
        width: 240px;
    }
}

 #container-2  #row_1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container-2  #row_2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 283px;
}
#container-2 #teacher{
    width: 283px;
    height: 240px;
    background: #e34e2b;
    /* border-radius: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
    position: relative;
}
#container-2 #row_1 #teacher::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 146px;
    background: #FE5D37;
    left: -143px;

}
#container-2 #row_1 #teacher::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 146px;
    background: #FE5D37;
    right: -143px;

}
#container-2  #row_2 #teacher:nth-child(1)::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 173px;
    background: #FE5D37;
    top: -86px;
    transform: rotate(90deg);
}
#container-2  #row_2 #teacher:nth-child(2)::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 173px;
    background: #FE5D37;
    top: -86px;
    transform: rotate(90deg);
}
#container-2  #row_2 #teacher:nth-child(1)::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 173px;
    background: #FE5D37;
    bottom: -86px;
    transform: rotate(90deg);
}
#container-2  #row_2 #teacher:nth-child(1)::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 173px;
    background: #FE5D37;
    bottom: -86px;
    transform: rotate(90deg);
}
#container-2  #row_2 #teacher:nth-child(2)::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 173px;
    background: #FE5D37;
    bottom: -86px;
    transform: rotate(90deg);
}

#container-2 #row_3 #teacher::before{
    content: "";
    position: absolute;
    height: 3px;
    width: 146px;
    background: #FE5D37;
    left: -143px;

}
#container-2 #row_3 #teacher::after{
    content: "";
    position: absolute;
    height: 3px;
    width: 146px;
    background: #FE5D37;
    right: -143px;

} */
#container-2 #teacher h1{
 font-size: 25px;
 line-height: 40px;
 color: #fff;
 text-align: center;
}

#container-2 #teacher  h2{
    font-weight: 300;
    color: #fff;
    text-align: center;
    font-size: 19px;
}
@media (max-width:985px) {
    main{
        padding: 0;
    }
    #container-1{
        margin: 20px 0 20px 0;
        width: 1005;
    }
    main{
        padding: 0 30px;
    }   
}

@media (max-width:914px) {
    #container-1 #innder{
        width: 100%;    
       
    }
      
}
@media (max-width:720px) {
    #container-1 #innder h1{
        font-size: 25px;   
        line-height: 34px;
        margin-bottom: 20px;
       
    }
      
}





/* Footer */

.footer {
    display: flex;
    padding:60px 40px;
    gap: 117px;
    justify-content: center;
    background: #1b1b1b;
    color: #fff;
    flex-wrap: wrap;
}
.footer-column {
    width: 300px;
}

.footer-column:nth-child(3) img{
    width: 200px;
}
.footer h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #FE5D37;
}
.footer p {
    font-size: 14px;
    line-height: 1.6;
}
.quick-links {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.quick-links a {
    text-decoration: none;
    padding: 10px 15px;
    background: orange;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
.contact p {
    font-size: 14px;
    margin-bottom: 5px;
}
.contact strong {
    font-size: 15px;
}
.logo img {
    max-width: 100%;
}
@media (max-width:797px) {
    .footer-column {
        width: 100%;
    }   
    .footer-column:nth-child(3) img{
        width: 100%;
    }
}


/* Go to top btn */

#go_to_top_btn{
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
}

#go_to_top_btn button{
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background: #fff;
    color: #000;
    border: 2px solid #fe5c37;
    outline: none;
    transition: .3s;
}
#go_to_top_btn button:hover{
    background: #FE5D37;
    color: #fff;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999999;
   

}

#en_roll_btn{
    position: fixed;
    bottom: 50px;
    left: 50px;
}

#en_roll_btn a{
    text-decoration: none;
    padding: 12px 12px;
    border-radius: 20px;
    background: white;
    border: 1px solid #fe5c37;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: .2s;
}
#en_roll_btn a:hover{
    background-color: #FE5D37;
    color: #fff;

}
@media (max-width:500px) {
    #en_roll_btn{
        left: 20px;
    }
    #go_to_top_btn{
        right: 20px;
    }
}